.popover {
    -fx-padding: 43 7 7 7;
}

.popover-frame {
	-fx-background-color: -fx-outer-border, -fx-inner-border, -fx-base;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
	-fx-background-radius: 10px, 10px, 10px, 10px;
    -fx-padding: 1;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 20, 0, 0, 0);
}

.popover.left-tooth .popover-frame {
    -fx-shape: "m 33.34215,51.52967 4.782653,4.746482 4.333068,4.299995 h 94.637639 c 1.108,0 1.99987,0.891879 1.99987,1.999877 V 164.22046 c 0,1.10801 -0.89187,1.99988 -1.99987,1.99988 H 12.205971 c -1.107998,0 -2.000392,-0.89187 -2.000392,-1.99988 V 62.576024 c 0,-1.107998 0.892394,-1.999877 2.000392,-1.999877 h 12.020455 l 4.333071,-4.299995 z";
}

.popover.right-tooth .popover-frame {
    -fx-shape: "M 438.26953 194.75781 L 420.19336 212.69727 L 403.81641 228.94922 L 46.130859 228.94922 C 41.943143 228.94922 38.572266 232.3201 38.572266 236.50781 L 38.572266 620.67578 C 38.572266 624.8635 41.943143 628.23438 46.130859 628.23438 L 518.1543 628.23438 C 522.34201 628.23438 525.71484 624.8635 525.71484 620.67578 L 525.71484 236.50781 C 525.71484 232.3201 522.34201 228.94922 518.1543 228.94922 L 472.72266 228.94922 L 456.3457 212.69727 L 438.26953 194.75781 z";
}

.popover-title {
    -fx-font-size: 20px;
    -fx-text-fill: -fx-text-background-color;
}

.popover .button {
    -fx-font-size: 12px;
}